@{
    ViewData["Title"] = "Home Page";
}
@model mysql_test.Models.IndexBundle
@Html.Partial("./Partials/NewArtist", @Model.ArtistForm)
@Html.Partial("./Partials/NewAlbum", @Model.AlbumForm)
<h1>All Artists</h1>
<ul>
    @{
        foreach(var artist in ViewBag.Artists)
        {
            <li><a href="/@artist["id"]">@artist["name"]</a></li>
        }
    }
</ul>
<h1>Albums</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Album Name</th>
            <th>Artist</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var album in ViewBag.Albums)
            {
                <tr>
                    <td>@album["album_name"]</td>
                    <td><a href="/@album["artist_id"]">@album["artist_name"]</a></td>
                    <td>@album["release_date"].ToString("M/dd/yy")</td>
                </tr>
            }
        }
    </tbody>
</table>