@model Weddings.Models.DashboardModels
@using Weddings.Models
@using System.Linq
<nav>
    <h1>Welcome USER</h1>
    <a href="/home/logout">Logout</a>
</nav>
<a href="/wedding/new"><button>Create a Wedding </button></a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach(Wedding w in Model.AllWeddings)
    {
        <tr>
            <td>@w.WedderOne & @w.WedderTwo</td>
            <td>@w.Date.ToString("D")</td>
            <td>@w.Guests.Count</td>
            @{
                if(w.Guests.Where(g => g.UserId == Model.User.UserId).Count() == 0)
                { <td><a href="/wedding/rsvp/@w.WeddingId">RSVP</a></td>}
                else
                { <td><a href="/wedding/unrsvp/@w.WeddingId">UnRSVP</a></td>}
            }
        </tr>    
    }
    </tbody>
</table>
<h3>Your Weddings</h3>
<ul>
    @foreach(Wedding w in Model.YourWeddings)
    {
        <li>@w.WedderOne & @w.WedderTwo</li>
    }
</ul>
<h3>Other Weddings</h3>
<ul>
    @foreach(Wedding w in Model.OtherWeddings)
    {
        <li>@w.WedderOne & @w.WedderTwo</li>
    }
</ul>