@{
    ViewData["Title"] = "Home Page";
}
@using newChefs.Models 
@model newChefs.Models.Chef
<h1>@Model.FirstName @Model.LastName</h1>
<hr>
<h4><strong>Username:</strong> @Model.Username</h4>
<h4><strong>Date Registered:</strong> @Model.CreatedAt.ToString("D")</h4>
<h4><strong>@Model.FirstName's Masterpieces</strong></h4>
<ul>
    @foreach(Dish dish in Model.Masterpieces)
    {
        <li>@dish.Name</li>
    }
</ul>
<h4><strong>@Model.FirstName's Liked Dishes</strong></h4>
<ul>
    @foreach(Like like in Model.DishesLiked)
    {
        <li>@like.DishLiked.Name</li>
    }
</ul>