@model DojoSecrets.Models.Dashboard
@using DojoSecrets.Models
<h2>Hello USER</h2>
@Html.Partial("NewSecret", Model.NewSecret)
<h2>Most Popular Secrets</h2>
@foreach(Secret s in Model.AllSecrets)
{
    @if(s.user_id == Model.User.user_id)
    {
        <h4>@s.message (@s.created_at ago) <a href="/secret/delete/@s.secret_id">Delete</a></h4>
    }
    else
    {
        if(s.Likes.Contains(l => l.user_id == Model.User.user_id).Count() == 0)
        {
            <h4>@s.message @s.created_at ago) <a href="/secret/unlike/@s.secret_id">Un-like</a></h4>
        }
        else
        {
            <h4>@s.message @s.created_at ago) <a href="/secret/Like/@s.secret_id">Like</a></h4>
        }
    }
}